[submodule "Common-Core/libft"]
	path = Common-Core/libft
	url = https://github.com/houdaifa-boukhari/libft.git
[submodule "Common-Core/ft_printf"]
	path = Common-Core/ft_printf
	url = https://github.com/houdaifa-boukhari/ft_printf.git
[submodule "Common-Core/get_next_line"]
	path = Common-Core/get_next_line
	url = https://github.com/houdaifa-boukhari/get_next_line.git
[submodule "Common-Core/pipex"]
	path = Common-Core/pipex
	url = https://github.com/houdaifa-boukhari/pipex-42-shcool.git
[submodule "Common-Core/push_swap"]
	path = Common-Core/push_swap
	url = https://github.com/houdaifa-boukhari/push_swap.git
[submodule "Common-Core/FdF"]
	path = Common-Core/FdF
	url = https://github.com/houdaifa-boukhari/fdf_42.git
[submodule "Common-Core/Philosophers"]
	path = Common-Core/Philosophers
	url = https://github.com/houdaifa-boukhari/Philosophers.git
[submodule "Common-Core/minishell"]
	path = Common-Core/minishell
	url = https://github.com/houdaifa-boukhari/mini-shell.git
[submodule "Common-Core/Cub3D"]
	path = Common-Core/Cub3D
	url = https://github.com/houdaifa-boukhari/CUB-3D-42-School
[submodule "Common-Core/CPP-Modules"]
	path = Common-Core/CPP-Modules
	url = https://github.com/houdaifa-boukhari/CPP_42-School.git
[submodule "42-Pool"]
	path = 42-Pool
	url = https://github.com/houdaifa-boukhari/1337-Pool-Projects
